{% extends "control_distr/base.html" %}

{% block contenido %}

<p>
 <strong>Nombre:</strong> {{object.nombre}}
</p>
<p>
 <strong>Apellido:</strong> {{object.apellido}}
</p>
<p>
 <strong>Calle:</strong> {{object.calle}}
</p>
<p>
 <strong>Numero:</strong> {{object.calle_altura}}
</p>
<p>
 <strong>Teléfono:</strong> {{object.telefono}}
</p>
<p>
 <strong>DNI:</strong> {{object.numero_cliente}}
</p>

<br>
<i class="bi bi-arrow-left"></i>
    <a href="{% url 'lista_clientes' %}">Volver</a>

{% endblock contenido %}
