{% extends "control_distr/base.html" %}

{% block contenido %}
<form action="{% url 'crear_clientes' %}" method="post">
  {% csrf_token %}
  {{ form.errors }}  
  {{ form.nombre }}
  {{ form.nombre.errors }} 
  <p>Nombre del Cliente</p>
  {{ form.apellido }}
  {{ form.apellido.errors }} 
  <p>Apellido</p>
  {{ form.numero_cliente }}
  {{ form.numero_cliente.errors }} 
  <p>Numero de DNI</p>
  {{ form.calle }}
  {{ form.calle.errors }}  
  <p>Calle</p>
  {{ form.calle_altura }}
  {{ form.calle_altura.errors }}  
  <p>Altura</p>
  {{ form.telefono }}
  {{ form.telefono.errors }} 
  <p>Teléfono</p>
  <input type="submit" value="Enviar">
</form>
{% endblock contenido %}