{% extends "control_distr/base.html" %}

{% block contenido %}
<section>
 <div>
  <a href="{% url 'crear_cliente' %}">Crear Cliente</a>
   <h1>Lista de clientes</h1>
    <br>
   <table class="table">
     <tbody>
       <tr>
         <th>ID</th>
         <th>Nombre</th>
         <th>Apellido</th>
         <th>Numero de Cliente</th>
         <td>Ver</td>
         <td>Editar</td>
       </tr>
       {% for cliente in object_list %}
       <tr>
         <td>{{ cliente.id }}</td>
         <td>{{ cliente.nombre }}</td>
         <td>{{ cliente.apellido }}</td>
         <td>{{ cliente.numero_cliente }}</td>
         <td>
           <a href="{% url 'ver_cliente' cliente.id %}">
            <i class="bi bi-eye"></i>
           </a>
         </td>
         <td>
          {% if user == cliente.creador %}
           <a href="{% url 'editar_cliente' cliente.id %}">
            <i class="bi bi-pencil"></i>
           </a>
          {% endif %}
         </td>
         <td>
          {% if user == cliente.creador %}
           <a href="{% url 'eliminar_cliente' cliente.id %}">
             <i class="bi bi-trash"></i>
           </a>
          {% endif %}
         </td>
       </tr>
       {% endfor %}
     </tbody>
   </table>

 </div>
</section>
{% endblock contenido %}
