{% extends 'control_distr/base.html' %}
{% load static %}

{% block contenido %}
<body>
    <img src="{% static 'imagenes\foto_mia.jpg' %}">
    <h1>Un poco sobre mi...</h1>
    <p>¡Hola!

        Soy Gonzalo Martin Lapettina.
        <br>
         Soy una persona alegre y apasionada por el aprendizaje y la superación personal.
        <br>
         Desde muy joven, me fascinó el mundo de la tecnología y comencé mi camino estudiando reparación de PC y posteriormente reparación de celulares.
         <br>
         Sin embargo, siempre sentí una atracción especial hacia la programación, aunque no tuve la oportunidad de estudiarla en su momento debido a las limitaciones de recursos.
        <br>
        Pero la vida siempre tiene sorpresas gratas reservadas para nosotros, y finalmente tuve la oportunidad de cumplir mi sueño de convertirme en programador.
        <br>
        Decidí dar un gran paso y me uní a Coderhouse, donde he completado con éxito todas las clases y ahora me encuentro preparando mi examen final.
        <br>
        Actualmente, trabajo en una distribuidora de ferretería realizando tareas de reparto. Sin embargo, mi verdadera pasión y deseo es abrirme camino en el mundo de la programación.
        <br>
        Me encantaría tener la oportunidad de demostrar mi dedicación, habilidades y entusiasmo en este campo tan emocionante.
        <br>
        Estoy listo para enfrentar nuevos desafíos y aprender de cada experiencia que se presente en mi camino.
        <br>
        Mi objetivo es crecer profesionalmente como programador y contribuir con soluciones innovadoras a través del código.
        <br>
        Estoy dispuesto a esforzarme al máximo para lograr mis metas y superar cualquier obstáculo que se presente.
        <br>
        Agradezco profundamente su tiempo y consideración.
        <br>
        ¡Gracias y un cordial saludo!
        
        Gonza</p>
</body>
{% endblock contenido %}
